/* Fonts */
@font-face {
  font-family: NetSa;
  src: url("../Fonts/NetflixSansRegular.ttf");
}
/* All Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NetSa;
}
body {
  background-color: #000;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../Images/hero-img.jpg");
  background-position: center;
  opacity: 0.5;
}
/* Navigation Style */
header nav {
  position: fixed;
  z-index: 999;
  padding: 25px 60px;
}
/* Netflix logo Style */
header nav a img {
  width: 160px;
}
/* Form wrapper Style */
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0, 0.75);
  width: 430px;
  padding: 60px;
  border-radius: 4px;
}
/* Form title Style */
.form-wrapper h2 {
  color: #fff;
  font-size: 32px;
}
/* Form Style */
.form-wrapper form {
  margin: 25px 0 65px;
}
/* Form content Style */
form .form-content {
  position: relative;
  height: 50px;
  margin-bottom: 16px;
}
/* Form content input Style */
.form-content input {
  width: 100%;
  height: 100%;
  background-color: #333;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 20px;
}
/* Form input animation Style */
.form-content input:is(:focus, :valid) {
  padding: 16px 20px 0;
  background-color: #444;
}
/* Form content label Style */
.form-content label {
  position: absolute;
  left: 20px;
  top: 50%;
  color: #8c8c8c;
  font-size: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.1s ease;
}
/* Form input label animation Style */
.form-content input:is(:focus, :valid) ~ label {
  font-size: 12px;
  transform: translateY(-130%);
}
/* Form content button Style */
form button {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  background-color: #e50914;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}
/* Form button hovering */
form button:hover {
  background-color: #c40812;
}
/* Form guide Style */
form .form-guide {
  display: flex;
  justify-content: space-between;
}
/* Remember Style */
form .remember {
  display: flex;
}
/* Remember input Style */
form .remember input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}
/* Form guide paragraph Style */
form .form-guide :where(label, a) {
  font-size: 14.4px;
}
/* Form paragraph Style */
.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}
/* Form wrapper paragraph Style */
.form-wrapper p a {
  color: #fff;
}
/* Form wrapper small tag Style */
.form-wrapper small {
  display: block;
  margin-top: 15px;
}
/* Form wrapper small tag link Style */
.form-wrapper small a {
  color: #0071eb;
}
